body {
	--wallpaper: url('../images/wplight.jpg');
}

body.dark {
	--wallpaper: url('../images/wpdark.jpg');
}

body {
	background-image: var(--wallpaper);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}