/*
	General styles
*/

:root {
	/* This is the default Windows 11 accent color. Can be overwritten in settings. */
	--accent-color: #0078D7;
	accent-color: var(--accent-color);
}

body {
	--controls-body-color: #f9f9f9;
	--controls-inner-color: #1a1a1a;
}

body.dark {
	--controls-body-color: #1a1a1a;
	--controls-inner-color: #f9f9f9;
}

/*
	Row styles
*/

flyout-row {
	display: flex;
	flex: 1 0 0;
	margin: 4px;
}

/*
	Button styles, NO FIREFOX/IE COMPATIBILITY (because I'm not going to bother)
*/

[is="controls-button"] {
	border-radius: 4px;
	padding: 8px;
	background: var(--controls-body-color);
	color: var(--controls-inner-color);
	text-decoration: none;
	transition: 200ms;
	outline: none;
	border: none;
	min-width: 128px;
	user-select: none;
	display: inline-flex;
	justify-content: center;
}

[is="controls-button"][controls-button-type="icon"] {
	min-width: unset;
}

[is="controls-button"]:hover {
	filter: brightness(90%);
}

body.dark [is="controls-button"]:hover {
	filter: brightness(80%);
}

[is="controls-button"]:active {
	filter: brightness(80%) saturate(80%);
}

[is="controls-button"][controls-alignment="inline"]+[is="controls-button"][controls-alignment="inline"] {
	margin-left: 4px;
}

.controls-button-text {
	display: inline;
	align-self: center;
}

.controls-button-icon {
	width: 24px;
	height: 24px;
	display: inline;
}

/*
	Slider styles, NO FIREFOX/IE COMPATIBILITY (because I'm not going to bother)
*/
[is="controls-slider"] {
	width: 100%;
	margin: 8px 0;
	background-color: transparent;
	-webkit-appearance: none;
}

[is="controls-slider"]:focus {
	outline: none;
}

[is="controls-slider"]::-webkit-slider-runnable-track {
	background: var(--accent-color);
	border: none;
	border-radius: 3px;
	width: 100%;
	height: 4px;
	cursor: pointer;
}

[is="controls-slider"]::-webkit-slider-thumb {
	margin-top: -8px;
	width: 20px;
	height: 20px;
	background: var(--accent-color);
	border: 5px solid var(--controls-body-color);
	border-radius: 50%;
	cursor: pointer;
	-webkit-appearance: none;
	transition: 80ms;
}

[is="controls-slider"]::-webkit-slider-thumb:hover {
	border-width: 3px;
	transition: 200ms;
}

[is="controls-slider"]:focus::-webkit-slider-runnable-track {
	background: var(--accent-color);
}